.mySpinner {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.appLoader {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.otpbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
}

.otp-value {
  color: red;
}

.otp-bx {
  display: flex;
}
.otp-bx input {
  width: 50px;
  font-size: 32px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  border: 2px solid #9d9d9d;
  background: #fff;
  font-weight: bold;
  outline: none;
  transition: all 0.1s;
}
.otp-bx input:focus {
  border: 2px solid #0769ab;
  box-shadow: 0 0 1px 1px #0769ab;
}

.pointer_cursor {
  cursor: pointer;
}

.app_color {
  color: #526de5;
}

.loader_text {
  color: #526de5;
  width: 200px;
}

.stikyNav {
  position: fixed;
  top: 0;
  width: 100%;
}

.sidebarBody {
  margin-top: 60px;
}

.handCursor {
  cursor: pointer;
}

.footerZ {
  z-index: 999999999;
}
